.dashboard-sidebar {
   color: #fff;
   font-size: 15px;
   max-width: 210px;
   background-color: var(--primary-color);
   transition: 0.3s;
   max-height: 100vh;
   position: sticky;
   top: 0px;
   left: 0px;
}
.dashboard-sidebar::after {
   content: "";
   display: block;
   height: 100%;
   width: 5px;
   background-color: var(--secondary-color);
   position: absolute;
   top: 0px;
   right: 0px;
}
.dashboard-sidebar.hidden {
   max-width: 5px;
}
.main-navigation {
   transform: translateX(0%);
   overflow: hidden;
   height: 100%;
   position: relative;
   transition: 0.3s;
}
.dashboard-sidebar.hidden .main-navigation {
   transform: translateX(calc(-100% + 5px));
}
.dashboard-logo {
   display: flex;
   align-items: center;
   font-size: 16px;
   color: var(--secondary-color);
   line-height: 1;
   max-width: max-content;
   min-width: max-content;
   padding-right: 30px;
   padding-left: 15px;
   border-bottom: 1px solid var(--secondary-color);
}
.pages-navigation-item {
   position: relative;
}
.pages-navigation-item::before {
   content: "";
   position: absolute;
   top: 0px;
   left: 0px;
   display: block;
   height: 100%;
   width: 0px;
   background-color: var(--secondary-color);
   transition: 0.3s;
}
.pages-navigation-item:hover::before {
   width: 100%;
}
.pages-navigation-link {
   display: flex;
   align-items: center;
   height: 50px;
   position: relative;
   padding-left: 20px;
   padding-right: 30px;
}
.pages-navigation-link.current {
   background-color: var(--secondary-color);
   color: var(--primary-color);
}
.dashboard-sidebar.hidden .pages-navigation-link span {
   max-width: 0px;
   padding-left: 0px;
   padding-right: 0px;
}
.dashboard-btn {
   border: none;
   background-color: var(--secondary-color);
   display: flex;
   justify-content: center;
   align-items: center;
   height: 26px;
   width: 22px;
   border-radius: 5px;
   position: absolute;
   top: calc(50% - 15px);
   right: -17px;
   z-index: 111;
   cursor: pointer;
}
.hamburger-icon {
   display: none;
}
.dashboard-sidebar.hidden .hamburger-icon {
   display: block;
}
.close-icon {
   display: block;
}
.dashboard-sidebar.hidden .close-icon {
   display: none;
}
