/** presentation section start */
.presentation {
   padding-top: 30px;
   padding-bottom: 30px;
}
.presentation.even {
   background-color: #f2f6f8;
}
.presentation__container {
   display: flex;
   flex-wrap: wrap;
}
.presentation-title {
   width: 100%;
   padding-bottom: 0px;
   padding-top: 0px;
}
.presentation-info {
   width: 600px;
   margin: auto;
   display: flex;
   flex-direction: column;
   gap: 30px;
}
.presentation-message {
   line-height: 1.4;
}
.presentation-list {
   display: flex;
   flex-direction: column;
   gap: 10px;
}
.presentation-item {
   width: 60%;
   position: relative;
   display: flex;
}
.presentation-item-seperator {
   flex-grow: 1;
   border-bottom: 1px dashed;
   margin: 0px 5px;
}
.presentation-item b {
   position: absolute;
   top: 0px;
   right: 0px;
   transform: translateX(100%);
}
.presentation-link {
   background-color: #72b54e;
   color: #fff;
   width: max-content;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 35px;
   padding-left: 15px;
   padding-right: 15px;
   border-radius: 8px;
   margin-left: auto;
   transition: 0.3s;
}
.presentation-link:hover {
   box-shadow: 0px 6px 12px rgba(0, 0, 0, 15%);
}
.presentation-link.disabled {
   background-color: #8f8f8f;
   cursor: context-menu;
}
.presentation-link.disabled:hover {
   box-shadow: none;
}
/** presentation section start */
