@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
*,
*::before,
*::after {
   box-sizing: border-box;
   margin: 0px;
   padding: 0px;
   font-family: inherit;
   font-size: inherit;
   color: inherit;
   text-decoration: none;
}
:root {
   --primary-color: #00275f;
   --secondary-color: #f2c500;
}
html::-webkit-scrollbar {
   width: 6px;
}
html::-webkit-scrollbar-track {
   background-color: var(--primary-color);
}
html::-webkit-scrollbar-thumb {
   background-color: var(--secondary-color);
}
body {
   font-family: "Open Sans", sans-serif;
   font-size: 14px;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   background-color: #eae9f3;
   color: #1d1d1d;
}
main {
   flex-grow: 1;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}
.container {
   width: 100%;
   max-width: 1400px;
   padding-left: 70px;
   padding-right: 70px;
   margin-left: auto;
   margin-right: auto;
}
.main-logo {
   display: inline-block;
   width: 34px;
   height: 34px;
   min-width: 34px;
}
.koinot-logo {
   display: inline-block;
   height: 34px;
   min-width: 34px;
}
ul {
   list-style: none;
}
img {
   max-width: 100%;
}
h1,
h2 {
   font-size: 20px;
   text-transform: uppercase;
   padding-top: 50px;
   padding-bottom: 30px;
}
/* clears the ‘X’ from Internet Explorer */
input[type="search"]::-ms-clear {
   display: none;
   width: 0;
   height: 0;
}
input[type="search"]::-ms-reveal {
   display: none;
   width: 0;
   height: 0;
}
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
   display: none;
}
.modal {
   position: fixed;
   top: 0px;
   left: 0px;
   padding: 20px;
   z-index: 9;
   transform: translateY(0%);
   width: 100%;
   color: #fff;
   text-align: center;
   transition: 0.3s;
}
.modal--fail {
   background-color: #ff7070;
}
.modal--success {
   background-color: #72b54e;
}
.modal.hidden {
   z-index: -1;
   transform: translateY(-100%);
}
.scroll-top__container {
   position: sticky;
   bottom: 0px;
   right: 0px;
   z-index: 1;
}
.scroll-top-btn {
   position: absolute;
   bottom: 53px;
   right: 45px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--primary-color);
   height: 50px;
   width: 50px;
   border: none;
   border-radius: 15px;
   color: #f2c500;
   z-index: 0;
   opacity: 1;
   cursor: pointer;
   transition: 0.3s;
}
.scroll-top-btn.hidden {
   z-index: -1;
   opacity: 0;
}
.scroll-top-btn:hover {
   box-shadow: 0px 6px 12px rgba(0, 0, 0, 15%);
}
.scroll-top-btn svg {
   height: 100%;
   width: 25px;
   margin-bottom: 3px;
}
.button {
   display: flex;
   align-items: center;
   justify-content: center;
   width: max-content;
   padding: 0px 15px;
   color: #fff;
   border: none;
   background-color: transparent;
   height: 35px;
   cursor: pointer;
   transition: 0.3s;
}
.button:hover {
   box-shadow: 0px 6px 12px rgba(0, 0, 0, 15%);
}
.button--red {
   background-color: #ee3643;
}
.button--green {
   background-color: #63a63e;
}
/*! ratings page start */
.ratings-page__container {
   display: flex;
   gap: 30px;
}
.ratings {
   display: flex;
   flex-direction: column;
   margin-bottom: 50px;
   flex-grow: 1;
}
.ratings-list {
   margin-bottom: 30px;
   display: flex;
   flex-direction: column;
   gap: 1px;
}
.ratings-list-head {
   display: flex;
   height: 35px;
   align-items: center;
   padding: 0px 15px;
   gap: 15px;
   font-weight: 700;
   background-color: #fff;
}
.ratings-list-link {
   display: flex;
   height: 35px;
   align-items: center;
   padding: 0px 15px;
   gap: 15px;
   background-color: #f2f6f8;
}
.ratings-list-link:hover {
   transform: scale(1.01);
   background-color: #fff;
}
.ratings-list-link.inactive:hover {
   transform: none;
   background-color: #f2f6f8;
}
/*! ratings page end */
/*! books 3D view start */
.book-view {
   height: 500px;
   width: 400px;
   display: flex;
   justify-content: center;
   align-items: center;
   transform-style: preserve-3d;
   perspective: 1000px;
}
.book-view__container {
   position: relative;
   width: 250px;
   height: 375px;
   box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
   transform-style: preserve-3d;
   transition: 0.5s;
   cursor: pointer;
}
.book-view__container:hover {
   transform: rotateY(35deg);
   box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
}
.book-view__container:active {
   transform: rotateY(180deg);
}
.book-view__side-img {
   object-fit: cover;
   position: absolute;
   top: 0px;
   left: 0px;
   width: 42px;
   height: 100%;
   transform-origin: left;
   background-position: center;
   transform: rotateY(90deg);
}
.book-view__back-img {
   object-fit: cover;
   position: absolute;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 100%;
   transform-origin: center;
   background-position: center;
   transform: rotateY(180deg) translateZ(42px);
}
.book-view__front-img {
   position: absolute;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.book-view.key {
   order: 1;
}
/*! books 3D view end */
/*! breadcrumbs start */
.breadcrumbs {
   width: 100%;
   display: flex;
   gap: 10px;
   align-items: center;
   font-size: 13px;
   color: #8f8f8f;
   line-height: 1;
}
.breadcrumbs-item {
   display: flex;
   align-items: center;
   gap: 10px;
}
.breadcrumbs-link:hover {
   color: #ee3643;
}
.breadcrumbs-link.current {
   color: var(--primary-color);
   cursor: context-menu;
}
/*! breadcrumbs end */
/*! popular-books section start */
.popular-books__container {
   position: relative;
   left: 6px;
   width: 1272px;
}
.popular-books-title {
   padding-bottom: 24px;
}
.popular-books-carousel {
   position: relative;
}
.popular-books-item {
   margin-top: 6px;
   margin-bottom: 40px;
}
.owl-carousel.popular-books-carousel .owl-nav {
   position: absolute;
   bottom: 0px;
   left: 0px;
   width: calc(100% - 12px);
   display: flex;
   justify-content: space-between;
   height: 0px;
   align-items: flex-end;
}
.owl-carousel.popular-books-carousel .owl-nav button.owl-next,
.owl-carousel.popular-books-carousel .owl-nav button.owl-prev {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--secondary-color);
   height: 30px;
   width: 30px;
   border-radius: 8px;
   color: var(--primary-color);
   transition: 0.3s;
}
.owl-carousel.popular-books-carousel .owl-nav button.owl-next:hover,
.owl-carousel.popular-books-carousel .owl-nav button.owl-prev:hover {
   box-shadow: 0px 6px 12px rgba(0, 0, 0, 15%);
}
.owl-carousel.popular-books-carousel .owl-nav button.owl-next span,
.owl-carousel.popular-books-carousel .owl-nav button.owl-prev span {
   display: flex;
   height: 100%;
   width: 100%;
   justify-content: center;
   align-items: center;
   font-size: 30px;
   position: relative;
   top: -3px;
}
.owl-carousel.popular-books-carousel .owl-dots {
   position: absolute;
   bottom: 0px;
   left: 0px;
   width: calc(100% - 12px);
   display: flex;
   justify-content: center;
   height: 0px;
   align-items: center;
   gap: 10px;
}
.owl-carousel.popular-books-carousel .owl-dot {
   display: block;
   background-color: var(--secondary-color);
   height: 10px;
   width: 10px;
   border-radius: 50%;
   position: relative;
   bottom: 15px;
}
.owl-carousel.popular-books-carousel .owl-dot.active {
   background-color: var(--primary-color);
}
.books-info {
   display: flex;
   align-items: end;
   gap: 15px;
   margin-top: 30px;
   justify-content: end;
   margin-bottom: 50px;
   color: #8f8f8f;
   text-align: end;
}
.books-info-link {
   border: none;
   background-color: var(--primary-color);
   font-weight: 600;
   display: flex;
   height: 50px;
   align-items: center;
   padding: 0px 16px;
   border-radius: 15px;
   color: #fff;
   text-transform: uppercase;
   cursor: pointer;
   font-size: 16px;
   width: 200px;
   justify-content: center;
   transition: 0.3s;
}
.books-info-link:hover {
   box-shadow: 0px 6px 12px rgba(0, 0, 0, 15%);
}
/*! popular-books section end */
/*! sidebar aside start */
.ratings-sidebar {
   display: flex;
   padding-top: 107px;
}
.ratings-navigation {
   display: flex;
   flex-direction: column;
   gap: 10px;
}
.ratings-navigation-item {
   display: flex;
}
.ratings-navigation-link {
   display: flex;
   align-items: center;
   height: 35px;
   padding-left: 15px;
   min-width: max-content;
   width: 100%;
   padding-right: 15px;
   position: relative;
}
.ratings-navigation-link::before {
   content: "";
   position: absolute;
   top: 0px;
   left: 0px;
   height: 100%;
   width: 5px;
   background-color: var(--secondary-color);
   z-index: -1;
   transition: 0.3s;
}
.ratings-navigation-link:hover::before {
   width: 100%;
}
.ratings-navigation-link.current {
   color: #ee3643;
}
.ratings-navigation-link.current::before {
   width: 100%;
}
/*! sidebar aside end */
/*! account start */
.account__title {
   padding-top: 30px;
   padding-bottom: 0px;
}
.account__breadcrumbs {
   margin-top: 17px;
   margin-bottom: 20px;
}
/*! account end */
/*! user pages start */
.users-page,
.users-read-page {
   padding-bottom: 30px;
}
.users__title {
   padding-bottom: 0px;
}
.users__breadcrumbs {
   padding-top: 17px;
   padding-bottom: 20px;
}
/*! user-pages end */
/*! activity section start */
.activity {
   width: calc(50% - 15px);
   padding: 30px;
   background-color: #fff;
   border-radius: 15px;
   display: flex;
   flex-direction: column;
}
.activity-title {
   padding-top: 0px;
   text-align: center;
   padding-bottom: 15px;
}
.activity-description {
   line-height: 1.4;
   flex-grow: 1;
   display: flex;
}
.activity-list {
   margin-top: 10px;
   display: flex;
   flex-direction: column;
   gap: 10px;
   margin-bottom: 10px;
}
.activity-item {
   display: flex;
   width: 55%;
   position: relative;
}
.activity-item-seperator {
   flex-grow: 1;
   border-bottom: 1px dashed;
   margin-left: 5px;
   margin-right: 5px;
}
.activity-item b {
   position: absolute;
   top: 0px;
   right: 0px;
   transform: translateX(100%);
}
.activity-link {
   background-color: #72b54e;
   color: #fff;
   width: max-content;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 35px;
   padding-left: 15px;
   padding-right: 15px;
   border-radius: 8px;
   margin-left: auto;
   margin-top: 15px;
   transition: 0.3s;
}
.activity-link:hover {
   box-shadow: 0px 6px 12px rgba(0, 0, 0, 15%);
}
.activity-link.disabled {
   background-color: #8f8f8f;
   cursor: context-menu;
   box-shadow: none;
}
/*! activity section end */
/*! about activities section start */
.about-activities {
   padding-bottom: 30px;
   background-color: #f2f6f8;
}
.about-activities__text {
   line-height: 1.4;
}
/*! about activities section end */
/*! form styles start */
.form {
   display: flex;
   flex-wrap: wrap;
   background: #f2f6f8;
   padding-top: 30px;
   padding-right: 30px;
   padding-bottom: 30px;
   padding-left: 30px;
   max-width: 840px;
   gap: 15px;
   box-shadow: 0px 6px 12px rgb(0 0 0 / 10%);
}
.form--error {
   border: 1px solid red;
}
.form-label {
   position: relative;
   flex-grow: 1;
   display: flex;
   align-items: end;
   flex-wrap: wrap;
   gap: 5px;
   max-width: max-content;
}
.form-label--flow {
   max-width: 100%;
}
.form-input,
.form-textarea,
.form-select {
   border: none;
   background-color: transparent;
   border-bottom: 1px solid;
   display: flex;
   justify-content: center;
   font-weight: 600;
   padding-left: 5px;
}
.form-input:focus,
.form-textarea:focus,
.form-select:focus {
   outline: none;
}
.form-input--file {
   border-bottom: none;
}
.form-input--flow {
   flex-grow: 1;
}
.form-input--quantity {
   max-width: 80px;
}
.form-input--datetime {
   max-width: 120px;
}
.form-textarea {
   height: 25px;
   min-height: 25px;
}
.form-btn-wrapper {
   display: flex;
   width: 100%;
   justify-content: end;
   gap: 10px;
   margin-top: 15px;
}
.form-errors {
   list-style: initial;
   width: max-content;
   margin-left: auto;
   margin-right: auto;
   display: flex;
   flex-direction: column;
   text-align: initial;
   gap: 5px;
}
.form-password-btn {
   display: flex;
   position: absolute;
   right: 0px;
   bottom: 0px;
   justify-content: center;
   align-items: center;
   height: 30px;
   width: 30px;
   border: none;
   background-color: transparent;
   padding: 4px;
   cursor: pointer;
   color: #7d7d7d;
}
.form-password-btn.visible .invisible {
   display: block;
}
.form-password-btn.visible .visible {
   display: none;
}
.form-password-btn .invisible {
   display: none;
}
.form-password-btn .visible {
   display: block;
}
/*! form styles end */
/*! user-read section start */
.user-read {
   background-color: #fff;
   padding-top: 30px;
   padding-bottom: 30px;
}
.user-read__container {
   display: flex;
}
.user-avatar {
   display: flex;
   min-width: 260px;
   height: 300px;
   margin: 30px 60px;
   border-radius: 15px;
   object-fit: cover;
}
.user-info {
   display: flex;
   flex-direction: column;
   gap: 10px;
   line-height: 1.4;
   margin: 30px 60px;
   flex-grow: 1;
}
.user-description {
   margin-bottom: 10px;
}
.user-info-item {
   width: 45%;
   position: relative;
   display: flex;
}
.user-info-item span {
   flex-grow: 1;
   margin-left: 5px;
   margin-right: 5px;
   border-bottom: 1px dashed;
}
.user-info-item b {
   position: absolute;
   top: 0px;
   right: 0px;
   transform: translateX(100%);
}
/*! user-read section end */
/*! presentation section start */
.presentation {
   padding-top: 30px;
   padding-bottom: 30px;
}
.presentation.even {
   background-color: #f2f6f8;
}
.presentation__container {
   display: flex;
   flex-wrap: wrap;
}
.presentation-title {
   width: 100%;
   padding-bottom: 0px;
   padding-top: 0px;
}
.presentation-info {
   width: 600px;
   margin: auto;
   display: flex;
   flex-direction: column;
   gap: 30px;
}
.presentation-message {
   line-height: 1.4;
}
.presentation-list {
   display: flex;
   flex-direction: column;
   gap: 10px;
}
.presentation-item {
   width: 60%;
   position: relative;
   display: flex;
}
.presentation-item-seperator {
   flex-grow: 1;
   border-bottom: 1px dashed;
   margin: 0px 5px;
}
.presentation-item b {
   position: absolute;
   top: 0px;
   right: 0px;
   transform: translateX(100%);
}
.presentation-link {
   background-color: #72b54e;
   color: #fff;
   width: max-content;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 35px;
   padding-left: 15px;
   padding-right: 15px;
   border-radius: 8px;
   margin-left: auto;
   transition: 0.3s;
}
.presentation-link:hover {
   box-shadow: 0px 6px 12px rgba(0, 0, 0, 15%);
}
.presentation-link.disabled {
   background-color: #8f8f8f;
   cursor: context-menu;
}
.presentation-link.disabled:hover {
   box-shadow: none;
}
.presentation-link--right {
   margin-left: 0px;
}
/*! presentation section end */
.width-5 {
   width: 5%;
}
.width-10 {
   width: 10%;
}
.width-15 {
   width: 15%;
}
.width-20 {
   width: 20%;
}
.width-25 {
   width: 25%;
}
.width-30 {
   width: 30%;
}
.width-35 {
   width: 35%;
}
.width-40 {
   width: 40%;
}
.width-45 {
   width: 45%;
}
.width-50 {
   width: 50%;
}
.width-55 {
   width: 55%;
}
.width-60 {
   width: 60%;
}
.width-65 {
   width: 65%;
}
.width-70 {
   width: 70%;
}
.width-75 {
   width: 75%;
}
.width-80 {
   width: 80%;
}
.width-85 {
   width: 85%;
}
.width-90 {
   width: 90%;
}
.width-95 {
   width: 95%;
}
.width-100 {
   width: 100%;
}
.txt-center {
   text-align: center;
}
.txt-end {
   text-align: end;
}
.red {
   color: #ee3643;
}
.green {
   color: #63a63e;
}
.red-bg {
   background-color: #ee3643;
}
.green-bg {
   background-color: #63a63e;
}
/*! media quaries start */
@media screen and (max-width: 991px) {
   .container {
      padding-left: 35px;
      padding-right: 35px;
   }
   .scroll-top-btn {
      right: 35px;
   }
}
@media screen and (max-width: 575px) {
   .container {
      padding-left: 15px;
      padding-right: 15px;
   }
   .scroll-top-btn {
      display: none;
   }
}
/*! media quaries end */

.header {
   background-color: #f2f6f8;
}
/** header-top section start */
.header-top {
   background-color: var(--primary-color);
   color: #fff;
}
.header-top__container {
   display: flex;
   align-items: center;
   height: 50px;
}
.header-logo {
   display: flex;
   align-items: center;
   gap: 10px;
   font-size: 16px;
   color: var(--secondary-color);
   margin-right: 10px;
   min-width: max-content;
   line-height: 1;
}
.ats-link:hover {
   box-shadow: 0px 6px 12px rgba(0, 0, 0, 15%);
}
/* search start */
.search-wrap {
   flex-grow: 1;
   display: flex;
   height: 100%;
   position: relative;
   margin-left: 5px;
   margin-right: 5px;
}
.search {
   flex-grow: 1;
   display: flex;
   height: 100%;
   position: relative;
   overflow: hidden;
   align-items: center;
}
.search-form {
   display: flex;
   height: 40px;
   width: 100%;
   align-items: center;
   background-color: var(--primary-color);
   transform: translateX(calc(-100% + 40px));
   transition: 0.3s;
}
.search-wrap.opened .search-form {
   background-color: #f2f6f8;
   transform: translateX(0px);
}
.search-input {
   display: flex;
   height: 100%;
   border: none;
   background-color: transparent;
   flex-grow: 1;
   padding: 8px 15px;
   color: var(--primary-color);
}
.search-input:focus {
   outline: none;
}
.search-input::placeholder {
   color: inherit;
}
.search-submit-btn {
   display: flex;
   height: 100%;
   width: 40px;
   border: none;
   background-color: transparent;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   position: relative;
}
.search-icon,
.search-close-icon {
   display: block;
   height: 25px;
   width: 25px;
   opacity: 1;
   transition: 0.3s;
   position: absolute;
   top: calc(50% - 12.5px);
   left: calc(50% - 12.5px);
}
.search-wrap.opened .search-icon {
   opacity: 0;
}
.search-close-icon {
   opacity: 0;
}
.search-close-icon path {
   fill: var(--primary-color);
}
.search-wrap.opened .search-close-icon {
   opacity: 1;
}
.search-result {
   display: flex;
   flex-direction: column;
   position: absolute;
   bottom: 0px;
   left: 0px;
   width: 100%;
   background-color: #fff;
   transform: translateY(calc(100% + 5px));
   box-shadow: 0px 6px 12px rgb(0 0 0 / 15%);
   z-index: 4;
}
.search-result__link {
   display: flex;
   padding-top: 10px;
   padding-right: 20px;
   padding-bottom: 10px;
   padding-left: 20px;
   align-items: center;
   gap: 10px;
   height: 35px;
   color: #7d7d7d;
}
.search-result__link:hover {
   color: var(--secondary-color);
}
.search-result__more {
   display: flex;
   align-items: center;
   gap: 20px;
   justify-content: end;
   flex-grow: 1;
}
.search-result__more svg {
   display: block;
   height: 20px;
}
.search-result__no-result {
   color: #7d7d7d;
   padding-top: 15px;
   padding-right: 25px;
   padding-bottom: 15px;
   padding-left: 25px;
}
.search-result__no-result button {
   position: static;
   top: 0px;
   left: 0px;
   color: blueviolet;
   text-decoration: underline;
   width: max-content;
   height: max-content;
   transform: none;
}
/* search end */
.notification-link {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   height: 100%;
   width: 40px;
}
.notification-link:hover {
   box-shadow: 0px 6px 12px rgba(0, 0, 0, 15%);
}
.notification-icon {
   display: block;
   height: 26px;
}
.notification-quantity {
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 3px;
   background-color: #ee3643;
   height: max-content;
   width: max-content;
   padding: 0px 3px 1px 2px;
   position: absolute;
   top: 4px;
   left: 0px;
}
.viber-link {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   width: 40px;
}
.viber-link:hover {
   box-shadow: 0px 6px 12px rgba(0, 0, 0, 15%);
}
.viber-icon {
   display: block;
   height: 28px;
}
.taken-book {
   display: flex;
   height: 100%;
   margin-left: 5px;
   align-items: center;
}
.taken-book-link {
   display: flex;
   height: 40px;
   width: max-content;
   justify-content: center;
   align-items: center;
   background-color: #63a63e;
   padding: 8px 10px;
   transition: 0.3s;
}
.taken-book-link:hover {
   box-shadow: 0px 6px 12px rgba(0, 0, 0, 15%);
}
.taken-book-deadline {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #ee3643;
   padding: 8px 10px;
   font-size: 16px;
   position: relative;
   gap: 2px;
   transition: 0.3s;
   height: 40px;
}
.taken-book-deadline:hover {
   box-shadow: 0px 6px 12px rgba(0, 0, 0, 15%);
}
.taken-book-deadline::after {
   content: "Продлить";
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   width: 100%;
   background-color: #ee3643;
   position: absolute;
   top: 0px;
   left: 0px;
   font-size: 14px;
   opacity: 0;
   transition: 0.3s;
}
.taken-book-deadline:hover::after {
   opacity: 1;
}
.taken-book p {
   display: flex;
   height: 40px;
   padding: 0px 10px;
   justify-content: center;
   align-items: center;
   background-color: #ee3643;
   line-height: 1;
}
@keyframes attention {
   0% {
      background-color: transparent;
   }
   50% {
      background-color: #ee3643;
   }
   100% {
      background-color: transparent;
   }
}
.times-over {
   animation: attention 1s infinite;
}
.days-icon {
   font-size: 14px;
   margin-right: 8px;
}
/** header-top section end */
/** header-bottom section start */
.header-bottom__container {
   display: flex;
   align-items: center;
   padding-top: 40px;
   padding-bottom: 40px;
   gap: 40px 0px;
   flex-wrap: wrap;
   justify-content: space-between;
}
.site-quote {
   display: flex;
   color: #ee3643;
   gap: 5px;
   font-size: 16px;
}
.site-quote span {
   color: #1d1d1d;
   font-size: 40px;
   text-transform: uppercase;
   font-weight: bold;
   line-height: 1.2;
}
.contact-phone {
   height: 40px;
   display: flex;
   gap: 8px;
   align-items: center;
   justify-content: center;
   border: 2px solid #fff;
   padding: 0px 10px;
   color: #ee3643;
   position: relative;
}
.feedback {
   position: absolute;
   bottom: 0px;
   left: 0px;
   width: 100%;
   transform: translateY(calc(100% + 5px));
   border: none;
   background-color: transparent;
   cursor: pointer;
   color: #1d1d1d;
}
.feedback:hover {
   text-decoration: underline;
}
.contact-phone-icon {
   display: block;
   height: 18px;
   color: var(--primary-color);
}
.account-link-wrap {
   position: relative;
}
.account-link {
   display: flex;
   gap: 10px;
   height: 40px;
   padding: 0px 15px;
   background-color: #fff;
   align-items: center;
   font-weight: 600;
   transition: 0.3s;
}
.account-link:hover {
   box-shadow: 0px 6px 12px rgba(0, 0, 0, 10%);
}
.account-icon {
   display: block;
   height: 18px;
   color: var(--primary-color);
}
.dashboard-link {
   position: absolute;
   bottom: 0px;
   right: 0px;
   min-width: max-content;
   transform: translateY(calc(100% + 5px));
   color: #1d1d1d;
}
.dashboard-link:hover {
   text-decoration: underline;
}
/* navigation start */
.main-navigation {
   width: 100%;
}
.page-navigation {
   display: flex;
   flex-wrap: wrap;
   width: 100%;
   background-color: var(--secondary-color);
   height: 40px;
   align-items: center;
   font-size: 15px;
   text-transform: capitalize;
}
.page-navigation-item {
   display: flex;
   justify-content: center;
   flex-grow: 1;
   align-items: center;
}
.page-navigation-link:hover {
   color: #ee3643;
}
.page-navigation-link.current {
   font-weight: 700;
   color: inherit;
}
/* navigation end */
/* feedback modal start */
.feedback-modal {
   position: fixed;
   top: 0px;
   left: 0px;
   height: 100vh;
   width: 100vw;
   backdrop-filter: blur(5px);
   display: flex;
   justify-content: center;
   padding-top: 60px;
   z-index: 5;
   opacity: 1;
}
.feedback-modal.hidden {
   z-index: -1;
   opacity: 0;
}
.feedback-form {
   background-color: #fff;
   display: flex;
   height: max-content;
   flex-wrap: wrap;
   justify-content: end;
   gap: 10px;
   padding: 20px;
   position: relative;
   min-width: 500px;
   box-shadow: 0px 6px 12px rgb(0 0 0 / 15%);
}
.feedback-form fieldset {
   width: 100%;
   border: none;
   padding-top: 40px;
   margin-bottom: 5px;
}
.feedback-form legend {
   display: flex;
   width: 100%;
   background-color: var(--secondary-color);
   color: var(--primary-color);
   padding: 0px 20px;
   height: 30px;
   align-items: center;
   font-size: 15px;
   font-weight: 500;
   position: absolute;
   top: 0px;
   left: 0px;
}
.feedback-label {
   display: flex;
   flex-direction: column;
   gap: 5px;
}
.feedback-textarea {
   border: none;
   background-color: #f7f3ec;
   padding: 10px;
   min-height: 150px;
   resize: none;
}
/* feedback modal end */
/** header-bottom section end */
/** adaptive & responsive start */
@media screen and (max-width: 991px) {
   .search-result {
      min-width: 100%;
   }
   .header-top__container {
      gap: 5px;
      position: relative;
   }
   .header-logo {
      margin-right: auto;
   }
   .header-logo span {
      display: none;
   }
   .search-wrap {
      margin-left: 0px;
      margin-right: 0px;
      z-index: 0;
      position: absolute;
      left: 75px;
      top: 0px;
      width: calc(100% - 110px);
   }
   .search-wrap.opened {
      z-index: 1;
   }
   .viber-link {
      position: relative;
      z-index: 0;
   }
   .notification-link {
      width: auto;
   }
   .taken-book {
      margin-left: 0px;
      z-index: 0;
      width: auto;
   }
   .search-result__path {
      display: none;
   }
   .search-result__title {
      width: max-content;
   }
   .header-bottom__container {
      gap: 40px 20px;
   }
   .site-quote {
      width: 100%;
   }
   .contact-phone {
      margin-left: auto;
   }
   .page-navigation {
      background-color: transparent;
      height: auto;
      gap: 10px 15px;
   }
   .page-navigation-item {
      flex-grow: unset;
   }
   .page-navigation-link {
      display: flex;
      background-color: var(--secondary-color);
      border-radius: 8px;
      min-height: 30px;
      align-items: center;
      padding-left: 15px;
      padding-right: 15px;
   }
}
@media screen and (max-width: 575px) {
   .header-top__container {
      flex-wrap: wrap;
      height: auto;
      padding-top: 5px;
      padding-bottom: 5px;
   }
   .header-logo {
      height: 40px;
      margin-right: 0px;
   }
   .search-result__more {
      display: none;
   }
   .search-wrap {
      left: 55px;
      width: calc(100% - 70px);
      height: 50px;
   }
   .notification-link {
      margin-left: 40px;
   }
   .taken-book {
      margin-left: auto;
   }
   .taken-book-link {
      width: auto;
   }
   .site-quote {
      display: none;
   }
   .contact-phone {
      margin-right: auto;
   }
   .account-link-wrap {
      margin-left: auto;
      margin-right: auto;
   }

   .page-navigation {
      font-size: 14px;
   }
}
/** adaptive & responsive end */

/** footer-top section start */
.footer-top {
   background-color: #214578;
   padding-top: 50px;
   padding-bottom: 30px;
}
.footer-top__container {
   display: flex;
   gap: 160px;
}
.site-info {
   display: flex;
   flex-direction: column;
   color: #fff;
   gap: 5px;
}
.footer-logo {
   display: flex;
   align-items: center;
   gap: 10px;
   font-size: 16px;
   color: var(--secondary-color);
   margin-bottom: 10px;
   line-height: 1;
}
.footer-address {
   font-style: inherit;
   width: max-content;
}
.categories-navigation {
   display: flex;
   flex-grow: 1;
   flex-wrap: wrap;
   justify-content: flex-end;
   color: var(--secondary-color);
   height: max-content;
}
.categories-navigation-item {
   display: flex;
   width: max-content;
   height: 34px;
   align-items: center;
   padding-left: 20px;
}
.categories-navigation-link:hover {
   text-decoration: underline;
}
/** footer-top section end */
/** footer-bottom section start */
.footer-bottom {
   background-color: #00275f;
   padding-top: 20px;
   padding-bottom: 20px;
}
.footer-bottom__container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: #fff;
}
.footer-bottom__right {
   width: 30%;
   min-width: max-content;
}
.footer-socials {
   display: flex;
   gap: 20px;
}
.footer-socials-link {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 36px;
   width: 36px;
   background-color: #214578;
   border-radius: 50%;
   transition: 0.3s;
}
.footer-socials-link:hover {
   color: var(--secondary-color);
   box-shadow: 0px 6px 12px rgb(0 0 0 / 15%);
}
.footer-socials-icon {
   display: block;
   height: 24px;
   width: 24px;
}
.footer-copyright {
   display: flex;
   justify-content: end;
   width: 30%;
   font-weight: inherit;
}
/** footer-bottom section end */
/** adaptive & responsive start */
@media screen and (max-width: 991px) {
   .footer-top__container {
      gap: 30px;
   }
   .categories-navigation {
      justify-content: flex-start;
   }
   .footer-bottom__right {
      order: 2;
   }
   .footer-socials {
      order: 1;
      width: 100%;
      justify-content: center;
      margin-bottom: 30px;
   }
   .footer-copyright {
      order: 3;
      min-width: max-content;
   }
   .footer-bottom__container {
      flex-wrap: wrap;
   }
}
@media screen and (max-width: 575px) {
   .footer-top__container {
      flex-wrap: wrap;
   }
   .site-info {
      width: 100%;
      align-items: center;
   }
   .categories-navigation {
      justify-content: center;
      gap: 0px 20px;
   }
   .categories-navigation-item {
      margin-left: 0px;
   }
   .footer-bottom__right {
      width: 100%;
      text-align: center;
   }
   .footer-copyright {
      width: 100%;
      margin-top: 15px;
      justify-content: center;
   }
}
/** adaptive & responsive end */


.login-page {
   background-image: url("../img/auth/auth-bg.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   min-height: 100vh;
   display: flex;
   align-items: center;
}
.login-page__container {
   display: flex;
}
/** login section start */
.login {
   display: flex;
   flex-direction: column;
   padding: 10px;
   min-height: 70vh;
   background-color: #fff;
   flex-grow: 3;
}
.logos-wrapper {
   display: flex;
   align-items: center;
   gap: 10px;
}
.login-form {
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 15px;
   margin-bottom: 60px;
}
.login-title {
   color: var(--primary-color);
   margin-bottom: 20px;
}
.login-fail-msg {
   color: red;
   width: 400px;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 30px;
   margin: 10px 0px;
   background-color: #ffe2e2;
}
.login-label {
   display: flex;
   flex-direction: column;
   color: var(--secondary-color);
   position: relative;
   gap: 5px;
}
.login-input {
   border: none;
   min-width: 350px;
   font-size: 16px;
   color: #1d1d1d;
   display: flex;
   height: 50px;
   align-items: center;
   padding: 8px 60px 8px 15px;
   transition: 0.3s;
   background-color: #fff;
   box-shadow: 0px 6px 12px rgba(0, 0, 0, 15%);
}
.login-input::placeholder {
   color: #757575;
}
.login-input:focus {
   outline: none;
   background-color: #eae9f3;
   box-shadow: none;
}
.visibility-button {
   border: none;
   background-color: transparent;
   position: absolute;
   top: 0px;
   right: 0px;
   cursor: pointer;
   display: flex;
   height: 50px;
   width: 50px;
   justify-content: center;
   align-items: center;
   padding: 10px;
}
.visibility-button path {
   fill: var(--secondary-color);
}
.invisible-icon {
   display: none;
}
.visibility-button.visible .invisible-icon {
   display: block;
}
.visibility-button.visible .visible-icon {
   display: none;
}
.login-error-msg {
   color: red;
}
.login-submit-btn {
   display: flex;
   width: 350px;
   height: 50px;
   border: none;
   justify-content: center;
   align-items: center;
   font-size: 16px;
   color: #fff;
   background-color: #63a63e;
   cursor: pointer;
   margin-top: 10px;
   transition: 0.3s;
}
.login-submit-btn:hover {
   box-shadow: 0px 6px 12px rgba(0, 0, 0, 15%);
}
/** login section end */
/** welcome section start */
.welcome {
   background-image: url(../img/auth/side-bg.jpg);
   background-size: cover;
   color: #fff;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
}
.welcome__wrapper {
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.welcome__text {
   text-align: center;
   max-width: 250px;
   margin: 0 auto;
   margin-top: 15px;
}
.welcome__copyright {
   margin: 10px 10px 10px auto;
   text-align: end;
}
/** welcome section end */
/** media quaries start */
@media screen and (max-width: 991px) {
   .welcome {
      display: none;
   }
}
@media screen and (max-width: 575px) {
   .login-page {
      background-image: none;
      background-color: #fff;
      align-items: normal;
   }
   .login {
      min-height: 100%;
      height: 100%;
      padding-left: 0px;
      padding-right: 0px;
   }
   .login-input {
      min-width: auto;
   }
   .login-submit-btn {
      width: 263px;
   }
}
/** media quaries end */

.books-card {
   display: flex;
   flex-direction: column;
   text-decoration: none;
   width: 275px;
   height: 470px;
   margin-left: 25px;
   position: relative;
   top: 0px;
   left: 0px;
   border-radius: 15px;
   transition: 0.3s;
}
.books-card:hover {
   box-shadow: 0px 6px 12px rgba(0, 0, 0, 15%);
}
.books-card__img {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 355px;
   padding: 25px;
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
   background-color: #fff;
   object-fit: contain;
}
.books-card__body {
   flex-grow: 1;
   background-color: #72b54e;
   max-height: 115px;
   border-bottom-left-radius: 15px;
   border-bottom-right-radius: 15px;
   position: relative;
   top: 0px;
   left: 0px;
   color: #fff;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding-top: 15px;
   padding-right: 15px;
   padding-bottom: 15px;
   padding-left: 35px;
}
.books-card.unavailable .books-card__body {
   background-color: #ff7070;
}
.books-card__title {
   font-weight: 400;
   text-transform: capitalize;
   margin-bottom: 5px;
}
.books-card__author {
   font-size: 13px;
   font-weight: 300;
}
.books-card__view {
   display: flex;
   font-size: 12px;
   font-weight: 300;
   text-transform: capitalize;
   width: 100%;
   justify-content: flex-end;
   cursor: pointer;
   height: max-content;
   margin-top: auto;
   align-items: center;
}
.books-card:hover .books-card__view-text {
   color: var(--secondary-color);
}
.books-card__rating {
   display: flex;
   flex-grow: 1;
   justify-content: center;
   gap: 5px;
}
.books-card__rating svg {
   display: block;
   height: 22px;
   width: 22px;
   color: gold;
}
.books-card__view-icon {
   display: flex;
   min-width: 20px;
   height: 20px;
   justify-content: center;
   align-items: center;
   border-radius: 8px;
   padding-left: 1px;
}
.books-card__view-icon svg {
   height: 12px;
   width: 12px;
}
.books-card__category-icon {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--primary-color);
   border-radius: 15px;
   height: 50px;
   width: 50px;
   position: absolute;
   top: calc(50% - 25px);
   left: -25px;
}
.books-card__category-icon svg {
   display: block;
   height: 25px;
   width: 25px;
   fill: #fff;
}
.books-card__status {
   font-size: 12px;
   color: #72b54e;
   position: absolute;
   top: 0px;
   right: 4px;
   transform: translateY(-100%);
   padding: 5px;
}
.books-card__status.unavailable {
   color: #ff7070;
}

.pagination {
   display: flex;
   justify-content: center;
   gap: 10px;
}
.page-link {
   user-select: none;
   text-decoration: none;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 12px;
   font-weight: 600;
   height: 25px;
   width: 25px;
   border-radius: 8px;
   position: relative;
   background-color: #fff;
   z-index: 3;
}
.page-link:hover {
   border-color: #2659d1;
   color: #2659d1;
}
.page-link.active {
   background-color: #1d1d1d;
   color: #fff;
}
.page-link.disabled {
   visibility: hidden;
}
.pagination li:first-child .page-link,
.pagination li:last-child .page-link {
   border-color: transparent;
   background-repeat: no-repeat;
   background-position: center;
}
.pagination li:first-child .page-link {
   background-image: url("../img/pagination-prev.png");
   background-color: transparent;
}
.pagination li:last-child .page-link {
   background-image: url("../img/pagination-next.png");
   background-color: transparent;
}

/** vitrin section start */
.vitrin-carousel {
   position: relative;
}
.vitrin-carousel .owl-nav {
   height: 0px;
}
.owl-carousel.vitrin-carousel .owl-nav button.owl-next,
.owl-carousel.vitrin-carousel .owl-nav button.owl-prev {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 30px;
   width: 30px;
   background-color: var(--primary-color);
   border-radius: 8px;
   color: var(--secondary-color);
   position: absolute;
   top: calc(50% - 15px);
   transition: 0.3s;
}
.owl-carousel.vitrin-carousel .owl-nav button.owl-next:hover,
.owl-carousel.vitrin-carousel .owl-nav button.owl-prev:hover {
   box-shadow: 0px 6px 12px rgba(0, 0, 0, 15%);
}
.owl-carousel.vitrin-carousel .owl-nav button.owl-prev {
   left: 30px;
}
.owl-carousel.vitrin-carousel .owl-nav button.owl-next {
   right: 30px;
}
.owl-carousel.vitrin-carousel .owl-nav button.owl-next span,
.owl-carousel.vitrin-carousel .owl-nav button.owl-prev span {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   width: 100%;
   font-size: 36px;
   position: relative;
   top: -4px;
}
.vitrin-carousel .owl-dots {
   align-items: center;
   height: 0px;
   position: relative;
   display: flex;
   justify-content: center;
   gap: 10px;
}
.owl-carousel.vitrin-carousel button.owl-dot {
   height: 10px;
   width: 10px;
   display: block;
   background-color: var(--primary-color);
   border-radius: 50%;
   position: relative;
   top: -20px;
}
.owl-carousel.vitrin-carousel button.owl-dot.active {
   background-color: var(--secondary-color);
}
/** vitrin section end */
/** books-categories section start */
.books-categories {
   padding-top: 50px;
}
.books-categories-list {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 20px;
}
.books-categories-item {
   flex-grow: 1;
   display: flex;
   justify-content: center;
}
.books-categories-card {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px 16px 10px 40px;
   background-color: #fff;
   min-height: 80px;
   width: 336px;
   border-radius: 15px;
   margin-left: 25px;
   gap: 10px;
   text-decoration: none;
   transition: 0.3s;
}
.books-categories-card:hover {
   box-shadow: 0px 6px 12px rgba(0, 0, 0, 15%);
}
.books-categories-icon {
   position: absolute;
   top: calc(50% - 25px);
   left: -25px;
   height: 50px;
   width: 50px;
   border-radius: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--primary-color);
}
.books-categories-icon svg {
   display: block;
   height: 25px;
   width: 25px;
   fill: #fff;
}
.books-categories-title {
   font-weight: 400;
   text-transform: capitalize;
   width: 170px;
   max-width: 170px;
}
.view-link {
   font-size: 12px;
   font-weight: 300;
   text-transform: capitalize;
   display: flex;
   align-items: center;
   text-decoration: none;
   gap: 10px;
   min-width: 90px;
   cursor: pointer;
}
.view-link:hover {
   color: var(--secondary-color);
}
.more-icon {
   display: flex;
   justify-content: center;
   align-items: center;
   padding-left: 1px;
   min-height: 25px;
   min-width: 25px;
   height: 25px;
   width: 25px;
   border-radius: 8px;
   background-color: var(--secondary-color);
}
/** books-categories section end */
.map {
   height: 400px;
   width: 100%;
   overflow: hidden;
}
.map iframe {
   height: 100%;
   width: 100%;
}

/** present time section start */
.present-time {
   background-color: #2659d1;
   color: #fff;
   padding: 60px 0px;
}
.present-time__title {
   margin-top: 0px;
   color: #fff;
}
.present-time__notation {
   text-transform: uppercase;
   font-size: 17.5px;
   font-weight: 600;
   margin-bottom: 5px;
   display: block;
}
/** present time section end */
/** our values section start */
.our-values {
   position: relative;
   padding-bottom: 50px;
}
.our-values__bg {
   position: absolute;
   top: 0px;
   left: 0px;
   height: 100%;
   width: 100%;
   object-fit: cover;
   opacity: 5%;
}
.our-values__container {
   border-radius: 15px;
   margin: 0px auto;
   width: 1260px;
   position: relative;
}
.values {
   display: flex;
   justify-content: space-between;
   width: 1158px;
   flex-wrap: wrap;
}
.values__item {
   max-width: 180px;
}
.values__title {
   font-size: 18px;
   text-transform: uppercase;
   font-weight: 500;
   color: #0033ab;
   margin-bottom: 5px;
}
.values__text {
   width: 150px;
   color: #8f8f8f;
}
/** our values section end */
/** about us section start */
.about-us {
   margin-bottom: 30px;
}
.about-us__text {
   color: #8f8f8f;
   margin-bottom: 10px;
}
.about-us__list {
   color: #8f8f8f;
   margin-left: 50px;
   display: flex;
   flex-direction: column;
   gap: 10px;
}
/** about us section end */




.booked-books-list {
   display: flex;
   flex-wrap: wrap;
   gap: 30px;
}


/** DateTime picker start */
.dtp_main {
   position: absolute;
   top: 0px;
   left: 0px;
   z-index: 1;
   border: none;
   height: 100%;
   width: 100%;
   color: transparent;
   background-color: transparent;
}
.dtp_modal-content {
   border-radius: 0px;
   display: flex;
   align-items: center;
   box-shadow: 0 6px 12px rgb(0 0 0 / 15%);
   height: 300px;
   width: 600px;
   position: fixed;
   top: calc(50vh - 250px) !important;
   left: calc(50vw - 300px) !important;
}
.dtp_modal-title {
   display: none;
}
.dtp_modal-cell-date {
   width: 50%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin: 0px;
}
.dtp_modal-months {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 16px;
   color: inherit;
}
.dtp_modal-calendar {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   font-size: 14px;
   color: inherit;
   margin: 0px;
}
.dtp_modal-cell-selected {
   background-color: var(--secondary-color);
   border-radius: 0px;
   cursor: context-menu;
}
.dtp_modal-cell-time {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 50%;
   border-right: none;
   border-left: 1px dashed;
}
div#field-time {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: max-content;
}
div#time-line {
   padding: 0px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 16px;
   color: var(--primary-color);
   font-weight: bold;
}
.dtp_modal-time-mechanic {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 15px;
   width: 100%;
}
.dtp_modal-append {
   padding: 0px;
   color: #7d7d7d;
}
.dtp_modal-digits {
   padding: 0px;
}
.dpt_modal-button {
   border: none;
   box-shadow: none;
   border-radius: 0px;
   display: flex;
   margin: 0px;
   background-color: #63a63e;
   justify-content: center;
   align-items: center;
   font-size: 16px;
   line-height: 1;
   height: 35px;
   color: transparent;
   position: relative;
   width: 60%;
   transition: 0.3s;
}
.dpt_modal-button:hover {
   box-shadow: 0px 6px 12px rgb(0 0 0 / 15%);
}
.dpt_modal-button::after {
   content: "Выбрать";
   position: absolute;
   top: 0px;
   left: 0px;
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #fff;
}
/** DateTime picker end */

.profile__user-read {
   display: flex;
   background-color: #fff;
}
.avatar-wrap {
   display: flex;
   min-width: 260px;
   height: 300px;
   margin: 30px;
   margin-right: 0px;
   border-radius: 15px;
   object-fit: cover;
   position: relative;
   overflow: hidden;
}
.profile-avatar {
   display: block;
   height: 100%;
   width: 100%;
   object-fit: cover;
}
.profile-avatar__form {
   position: absolute;
   top: 0px;
   left: 0px;
   height: 100%;
   width: 100%;
   background-color: rgba(0, 0, 0, 20%);
   opacity: 0;
   z-index: -1;
   transition: 0.3s;
}
.avatar-wrap:hover .profile-avatar__form {
   opacity: 1;
   z-index: 0;
}
.profile-avatar__label {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   width: 100%;
   cursor: pointer;
}
.profile-avatar__label svg {
   fill: #fff;
   display: block;
   margin: 100px;
}
.profile-avatar__input {
   visibility: hidden;
   position: absolute;
}
.user-info-title {
   font-weight: bold;
   text-transform: uppercase;
   font-size: 18px;
}




.activities__container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   gap: 30px;
   padding-bottom: 30px;
}
.activities__heading {
   width: 100%;
   padding-bottom: 0px;
}
/** activity-read section start */
.activity-read {
   background-color: #fff;
   padding-top: 30px;
   padding-bottom: 30px;
}
/** activity-read section end */

/** filter section start */
.books-filter {
   margin-top: 30px;
   margin-bottom: 20px;
   font-size: 13px;
   text-transform: uppercase;
}
.books-filter__container {
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
   height: 40px;
}
/* catalog-dropdown start */
.catalog-dropdown {
   background-color: #fff;
   border-radius: 4px;
   height: 100%;
   width: max-content;
}
.catalog-dropdown__button {
   width: 100%;
   height: 100%;
   border: none;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-left: 20px;
   padding-right: 12px;
   background-color: #fff;
   text-transform: uppercase;
   cursor: pointer;
   z-index: 3;
   font-weight: bold;
   position: relative;
   border-radius: 4px;
   transition: 0.3s;
}
.catalog-dropdown__button:hover {
   box-shadow: 0px 6px 12px rgba(0, 0, 0, 10%);
}
.catalog-dropdown__button svg {
   transition: 0.3s;
   fill: var(--primary-color);
}
.catalog-dropdown.open .catalog-dropdown__button svg {
   transform: rotate(-180deg);
}
.catalog-dropdown__content {
   position: relative;
   top: -8px;
   max-height: 0px;
   overflow: hidden;
   z-index: 1;
   transition: 0.3s;
}
.catalog-dropdown.open .catalog-dropdown__content {
   max-height: 1000px;
}
.catalog-dropdown__list {
   position: relative;
   border-bottom-left-radius: 8px;
   border-bottom-right-radius: 8px;
   background-color: #f7f3ec;
   padding-top: 10px;
   padding-bottom: 10px;
   text-transform: none;
   font-size: 14px;
   display: flex;
   flex-direction: column;
   transform: translateY(-100%);
   transition: 0.3s;
}
.catalog-dropdown.open .catalog-dropdown__list {
   transform: translateY(0%);
}
.catalog-dropdown__item {
   width: 100%;
}
.catalog-dropdown__link {
   display: flex;
   min-width: max-content;
   width: 100%;
   padding-left: 20px;
   padding-right: 20px;
   height: 30px;
   align-items: center;
}
.catalog-dropdown__link:hover {
   color: #ee3643;
}
/* catalog-dropdown end */
/* books-view start */
.books-view {
   background-color: #fff;
   border-radius: 4px;
   display: flex;
   align-items: center;
   gap: 50px;
   padding-left: 20px;
   padding-right: 20px;
   height: 100%;
   text-transform: uppercase;
}
.books-view__list {
   display: flex;
   gap: 15px;
}
.books-view__button {
   color: #c5c5c5;
   border: none;
   border-bottom: 1px dashed #ee3643;
   text-transform: uppercase;
   background-color: transparent;
   cursor: pointer;
}
.books-view__button:hover {
   color: inherit;
   border-bottom: 1px solid #ee3643;
}
.books-view__button.current {
   border-bottom: none;
   color: #ee3643;
}
/* books-view end */
/* filter start */
.books-sort {
   background-color: #fff;
   border-radius: 4px;
   display: flex;
   align-items: center;
   height: 100%;
   padding-left: 20px;
   padding-right: 20px;
   flex-grow: 1;
   justify-content: space-between;
}
.books-sort__list {
   display: flex;
   gap: 15px;
}
.books-sort__link {
   color: #c5c5c5;
   border-bottom: 1px dashed #ee3643;
}
.books-sort__link:hover {
   color: inherit;
   border-bottom: 1px solid #ee3643;
}
.books-sort__link.current {
   border-bottom: none;
   color: #ee3643;
}
/* filter end */
/** filter section end */
.books-categories__breadcrumbs {
   margin-bottom: 20px;
}
/** books section start */
.books {
   margin-bottom: 30px;
}
.books__container {
   position: relative;
   top: 0px;
   right: 12.5px;
   width: 1285px;
}
.books__list {
   display: flex;
   flex-wrap: wrap;
   gap: 28px;
   margin-bottom: 20px;
}
.books__rating-list {
   margin-bottom: 20px;
   margin-left: 25px;
}
.books__list.hidden,
.books__rating-list.hidden {
   display: none;
}
/** books section end */
/** about books section start */
.about-books {
   padding-bottom: 15px;
   background-color: #f2f6f8;
}
.about-books__text {
   line-height: 1.4;
   margin-bottom: 15px;
}
/** about books section end */

.book-read-page {
   padding-bottom: 30px;
}
.book-read-page__breadcrumbs {
   margin-top: 30px;
   margin-bottom: 20px;
}
/** book section start */
.book__container {
   display: flex;
   flex-wrap: wrap;
   background-color: #f2f6f8;
   border-radius: 15px;
}
.book-title {
   width: 100%;
   padding-bottom: 0px;
   padding-top: 0px;
}
.book-info {
   width: 600px;
   margin: auto;
   display: flex;
   flex-direction: column;
   gap: 30px;
}
.book-description {
   line-height: 1.4;
}
.book-list {
   display: flex;
   flex-direction: column;
   gap: 10px;
}
.book-item {
   width: 40%;
   position: relative;
   display: flex;
}
.book-item-seperator {
   flex-grow: 1;
   border-bottom: 1px dashed;
   margin: 0px 5px;
}
.book-item b {
   position: absolute;
   top: 0px;
   right: 0px;
   transform: translateX(100%);
   width: max-content;
}
.book-item b.available {
   color: #72b54e;
}
.book-item b.unavailable {
   color: #ee3643;
}
.book-item b.code {
   color: #8f8f8f;
}
.book-item__rating {
   display: flex;
   position: absolute;
   top: 0px;
   right: 0px;
   transform: translateX(100%);
   width: max-content;
   gap: 5px;
}
.book-item__rating svg {
   display: block;
   height: 20px;
   width: 20px;
   color: gold;
}
.book-link__wrap {
   display: flex;
   justify-content: end;
   gap: 10px;
}
.book-link {
   background-color: #72b54e;
   color: #fff;
   width: max-content;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 35px;
   padding-left: 15px;
   padding-right: 15px;
   border-radius: 8px;
   cursor: pointer;
   border: none;
   transition: 0.3s;
}

.book-link:hover {
   box-shadow: 0px 6px 12px rgba(0, 0, 0, 15%);
}
.book-link.disabled {
   background-color: #8f8f8f;
   cursor: context-menu;
}
.book-link.disabled:hover {
   box-shadow: none;
}
/* rating wrap start */
.rating-wrap {
   position: relative;
}
.book-link--rate {
   background-color: var(--secondary-color);
}
.stars-list-wrap {
   position: absolute;
   top: 0px;
   right: 90px;
   overflow: hidden;
   height: 100%;
}
.stars-list {
   display: flex;
   height: 100%;
   gap: 10px;
   padding-right: 50px;
   transform: translateX(100%);
   transition: 0.3s;
}
.rating-wrap.open .stars-list {
   transform: translateX(0%);
}
.stars-list-item {
   color: #c5c5c5;
   display: flex;
}
.stars-list-item.gold {
   color: gold;
}
.stars-list-link {
   display: flex;
   justify-content: center;
   align-items: center;
   display: block;
   height: 35px;
}
.stars-list-link svg {
   display: block;
   height: 35px;
}
[data-id="rating-icon-1"] {
   order: 5;
}
[data-id="rating-icon-2"] {
   order: 4;
}
[data-id="rating-icon-3"] {
   order: 3;
}
[data-id="rating-icon-4"] {
   order: 2;
}
[data-id="rating-icon-5"] {
   order: 1;
}
[data-id="rating-icon-1"]:hover,
[data-id="rating-icon-1"]:hover ~ [data-id="rating-icon-2"],
[data-id="rating-icon-1"]:hover ~ [data-id="rating-icon-3"],
[data-id="rating-icon-1"]:hover ~ [data-id="rating-icon-4"],
[data-id="rating-icon-1"]:hover ~ [data-id="rating-icon-5"] {
   color: gold;
}
[data-id="rating-icon-2"]:hover,
[data-id="rating-icon-2"]:hover ~ [data-id="rating-icon-3"],
[data-id="rating-icon-2"]:hover ~ [data-id="rating-icon-4"],
[data-id="rating-icon-2"]:hover ~ [data-id="rating-icon-5"] {
   color: gold;
}
[data-id="rating-icon-3"]:hover,
[data-id="rating-icon-3"]:hover ~ [data-id="rating-icon-4"],
[data-id="rating-icon-3"]:hover ~ [data-id="rating-icon-5"] {
   color: gold;
}
[data-id="rating-icon-4"]:hover,
[data-id="rating-icon-4"]:hover ~ [data-id="rating-icon-5"] {
   color: gold;
}
[data-id="rating-icon-5"]:hover {
   color: gold;
}
/* rating wrap end */
/** book section end */










