.header {
   background-color: #f2f6f8;
}
/** header-top section start */
.header-top {
   background-color: var(--primary-color);
   color: #fff;
}
.header-top__container {
   display: flex;
   align-items: center;
   height: 50px;
}
.header-logo {
   display: flex;
   align-items: center;
   gap: 10px;
   font-size: 16px;
   color: var(--secondary-color);
   margin-right: 10px;
   line-height: 1;
}
.ats-link:hover {
   box-shadow: 0px 6px 12px rgba(0, 0, 0, 15%);
}
/* search start */
.search-wrap {
   flex-grow: 1;
   display: flex;
   height: 100%;
   position: relative;
   margin-left: 5px;
   margin-right: 5px;
}
.search {
   flex-grow: 1;
   display: flex;
   height: 100%;
   position: relative;
   overflow: hidden;
   align-items: center;
}
.search-form {
   display: flex;
   height: 40px;
   width: 100%;
   align-items: center;
   background-color: var(--primary-color);
   transform: translateX(calc(-100% + 40px));
   transition: 0.3s;
}
.search-form.opened {
   background-color: #f2f6f8;
   transform: translateX(0px);
}
.search-input {
   display: flex;
   height: 100%;
   border: none;
   background-color: transparent;
   flex-grow: 1;
   padding: 8px 15px;
   color: var(--primary-color);
}
.search-input:focus {
   outline: none;
}
.search-input::placeholder {
   color: inherit;
}
.search-submit-btn {
   display: flex;
   height: 100%;
   width: 40px;
   border: none;
   background-color: transparent;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   position: relative;
}
.search-icon,
.search-close-icon {
   display: block;
   height: 25px;
   width: 25px;
   opacity: 1;
   transition: 0.3s;
   position: absolute;
   top: calc(50% - 12.5px);
   left: calc(50% - 12.5px);
}
.search-form.opened .search-icon {
   opacity: 0;
}
.search-close-icon {
   opacity: 0;
}
.search-close-icon path {
   fill: var(--primary-color);
}
.search-form.opened .search-close-icon {
   opacity: 1;
}
.search-result {
   display: flex;
   flex-direction: column;
   position: absolute;
   bottom: 0px;
   left: 0px;
   width: 100%;
   background-color: #fff;
   transform: translateY(calc(100% + 5px));
   box-shadow: 0px 6px 12px rgb(0 0 0 / 15%);
   z-index: 4;
}
.search-result__link {
   display: flex;
   padding-top: 10px;
   padding-right: 20px;
   padding-bottom: 10px;
   padding-left: 20px;
   align-items: center;
   gap: 10px;
   height: 35px;
   color: #7d7d7d;
}
.search-result__link:hover {
   color: var(--secondary-color);
}
.search-result__more {
   display: flex;
   align-items: center;
   gap: 20px;
   justify-content: end;
   flex-grow: 1;
}
.search-result__more svg {
   display: block;
   height: 20px;
}
.search-result__no-result {
   color: #7d7d7d;
   padding-top: 15px;
   padding-right: 25px;
   padding-bottom: 15px;
   padding-left: 25px;
}
.search-result__no-result button {
   position: static;
   top: 0px;
   left: 0px;
   color: blueviolet;
   text-decoration: underline;
   width: max-content;
   height: max-content;
   transform: none;
}
/* search end */
.notification-link {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   height: 100%;
   width: 40px;
}
.notification-link:hover {
   box-shadow: 0px 6px 12px rgba(0, 0, 0, 15%);
}
.notification-icon {
   display: block;
   height: 26px;
}
.notification-quantity {
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 3px;
   background-color: #ee3643;
   height: max-content;
   width: max-content;
   padding: 0px 3px 1px 2px;
   position: absolute;
   top: 4px;
   left: 0px;
}
.viber-link {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   width: 40px;
}
.viber-link:hover {
   box-shadow: 0px 6px 12px rgba(0, 0, 0, 15%);
}
.viber-icon {
   display: block;
   height: 28px;
}
.taken-book {
   display: flex;
   height: 100%;
   margin-left: 5px;
   align-items: center;
}
.taken-book-link {
   display: flex;
   height: 40px;
   width: max-content;
   justify-content: center;
   align-items: center;
   background-color: #63a63e;
   padding: 8px 10px;
   transition: 0.3s;
}
.taken-book-link:hover {
   box-shadow: 0px 6px 12px rgba(0, 0, 0, 15%);
}
.taken-book-deadline {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #ee3643;
   padding: 8px 10px;
   font-size: 16px;
   position: relative;
   gap: 2px;
   transition: 0.3s;
   height: 40px;
}
.taken-book-deadline:hover {
   box-shadow: 0px 6px 12px rgba(0, 0, 0, 15%);
}
.taken-book-deadline::after {
   content: "Продлить";
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   width: 100%;
   background-color: #ee3643;
   position: absolute;
   top: 0px;
   left: 0px;
   font-size: 14px;
   opacity: 0;
   transition: 0.3s;
}
.taken-book-deadline:hover::after {
   opacity: 1;
}
.taken-book p {
   display: flex;
   height: 40px;
   padding: 0px 10px;
   justify-content: center;
   align-items: center;
   background-color: #ee3643;
   line-height: 1;
}
@keyframes attention {
   0% {
      background-color: transparent;
   }
   50% {
      background-color: #ee3643;
   }
   100% {
      background-color: transparent;
   }
}
.times-over {
   animation: attention 1s infinite;
}
.days-icon {
   font-size: 14px;
   margin-right: 8px;
}
/** header-top section end */
/** header-bottom section start */
.header-bottom__container {
   display: flex;
   align-items: center;
   padding: 40px 0px;
   gap: 40px;
   flex-wrap: wrap;
   justify-content: space-between;
}
.site-quote {
   display: flex;
   color: #ee3643;
   gap: 5px;
   font-size: 16px;
}
.site-quote span {
   color: #1d1d1d;
   font-size: 40px;
   text-transform: uppercase;
   font-weight: bold;
   line-height: 1.2;
}
.contact-phone {
   height: 40px;
   display: flex;
   gap: 8px;
   align-items: center;
   justify-content: center;
   border: 2px solid #fff;
   padding: 0px 10px;
   color: #ee3643;
   position: relative;
}
.feedback {
   position: absolute;
   bottom: 0px;
   left: 0px;
   width: 100%;
   transform: translateY(calc(100% + 5px));
   border: none;
   background-color: transparent;
   cursor: pointer;
   color: #1d1d1d;
}
.feedback:hover {
   text-decoration: underline;
}
.contact-phone-icon {
   display: block;
   height: 18px;
   color: var(--primary-color);
}
.account-link-wrap {
   position: relative;
}
.account-link {
   display: flex;
   gap: 10px;
   height: 40px;
   padding: 0px 15px;
   background-color: #fff;
   align-items: center;
   font-weight: 600;
   transition: 0.3s;
}
.account-link:hover {
   box-shadow: 0px 6px 12px rgba(0, 0, 0, 10%);
}
.account-icon {
   display: block;
   height: 18px;
   color: var(--primary-color);
}
.dashboard-link {
   position: absolute;
   bottom: 0px;
   right: 0px;
   min-width: max-content;
   transform: translateY(calc(100% + 5px));
   color: #1d1d1d;
}
.dashboard-link:hover {
   text-decoration: underline;
}
/* navigation start */
.main-navigation {
   width: 100%;
}
.page-navigation {
   display: flex;
   flex-wrap: wrap;
   width: 100%;
   background-color: var(--secondary-color);
   height: 40px;
   align-items: center;
   font-size: 15px;
   text-transform: capitalize;
}
.page-navigation-item {
   display: flex;
   justify-content: center;
   flex-grow: 1;
   align-items: center;
}
.page-navigation-link:hover {
   color: #ee3643;
}
.page-navigation-link.current {
   font-weight: 700;
   color: inherit;
}
/* navigation end */
/* feedback modal start */
.feedback-modal {
   position: absolute;
   top: 0px;
   left: 0px;
   height: 100vh;
   width: 100vw;
   backdrop-filter: blur(5px);
   display: flex;
   justify-content: center;
   padding-top: 60px;
   z-index: 5;
   opacity: 1;
}
.feedback-modal.hidden {
   z-index: -1;
   opacity: 0;
}
.feedback-form {
   background-color: #fff;
   display: flex;
   height: max-content;
   flex-wrap: wrap;
   justify-content: end;
   gap: 10px;
   padding: 20px;
   position: relative;
   min-width: 500px;
   box-shadow: 0px 6px 12px rgb(0 0 0 / 15%);
}
.feedback-form fieldset {
   width: 100%;
   border: none;
   padding-top: 40px;
   margin-bottom: 5px;
}
.feedback-form legend {
   display: flex;
   width: 100%;
   background-color: var(--secondary-color);
   color: var(--primary-color);
   padding: 0px 20px;
   height: 30px;
   align-items: center;
   font-size: 15px;
   font-weight: 500;
   position: absolute;
   top: 0px;
   left: 0px;
}
.feedback-label {
   display: flex;
   flex-direction: column;
   gap: 5px;
}
.feedback-textarea {
   border: none;
   background-color: #f7f3ec;
   padding: 10px;
   min-height: 150px;
   resize: none;
}
/* feedback modal end */
/** header-bottom section end */
