@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
*,
*::before,
*::after {
   box-sizing: border-box;
   margin: 0px;
   padding: 0px;
   font-family: inherit;
   font-size: inherit;
   color: inherit;
   text-decoration: none;
}
:root {
   --primary-color: #00275f;
   --secondary-color: #f2c500;
}
html::-webkit-scrollbar {
   width: 6px;
}
html::-webkit-scrollbar-track {
   background-color: var(--primary-color);
}
html::-webkit-scrollbar-thumb {
   background-color: var(--secondary-color);
}
body {
   font-family: "Open Sans", sans-serif;
   font-size: 14px;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   background-color: #eae9f3;
   color: #1d1d1d;
   overflow-x: hidden;
}
main {
   flex-grow: 1;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}
.container {
   width: 1260px;
   margin: 0 auto;
}
.main-logo {
   display: inline-block;
   width: 34px;
   height: 34px;
   min-width: 34px;
}
.koinot-logo {
   display: inline-block;
   height: 34px;
   min-width: 34px;
}
ul {
   list-style: none;
}
img {
   max-width: 100%;
}
h1,
h2 {
   font-size: 20px;
   text-transform: uppercase;
   padding-top: 50px;
   padding-bottom: 30px;
}
.width-10 {
   width: 10%;
}
.width-15 {
   width: 15%;
}
.width-20 {
   width: 20%;
}
.width-25 {
   width: 25%;
}
.width-30 {
   width: 30%;
}
.width-35 {
   width: 35%;
}
.width-40 {
   width: 40%;
}
.width-50 {
   width: 50%;
}
.width-60 {
   width: 60%;
}
.width-70 {
   width: 70%;
}
.width-80 {
   width: 80%;
}
.width-90 {
   width: 90%;
}
.txt-center {
   text-align: center;
}
.txt-end {
   text-align: end;
}
/* clears the ‘X’ from Internet Explorer */
input[type="search"]::-ms-clear {
   display: none;
   width: 0;
   height: 0;
}
input[type="search"]::-ms-reveal {
   display: none;
   width: 0;
   height: 0;
}
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
   display: none;
}
.modal {
   position: fixed;
   top: 0px;
   left: 0px;
   padding: 20px;
   z-index: 9;
   transform: translateY(0%);
   width: 100%;
   color: #fff;
   text-align: center;
   transition: 0.3s;
}
.modal--fail {
   background-color: #ff7070;
}
.modal--success {
   background-color: #72b54e;
}
.modal.hidden {
   z-index: -1;
   transform: translateY(-100%);
}
.scroll-top__container {
   position: sticky;
   bottom: 0px;
   right: 0px;
   z-index: 1;
}
.scroll-top-btn {
   position: absolute;
   bottom: 53px;
   right: -60px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--primary-color);
   height: 50px;
   width: 50px;
   border: none;
   border-radius: 15px;
   color: #f2c500;
   z-index: 0;
   opacity: 1;
   cursor: pointer;
   transition: 0.3s;
}
.scroll-top-btn.hidden {
   z-index: -1;
   opacity: 0;
}
.scroll-top-btn:hover {
   box-shadow: 0px 6px 12px rgba(0, 0, 0, 15%);
}
.scroll-top-btn svg {
   height: 100%;
   width: 25px;
   margin-bottom: 3px;
}
.button {
   display: flex;
   align-items: center;
   justify-content: center;
   width: max-content;
   padding: 0px 15px;
   color: #fff;
   border: none;
   background-color: transparent;
   height: 35px;
   cursor: pointer;
   transition: 0.3s;
}
.button:hover {
   box-shadow: 0px 6px 12px rgba(0, 0, 0, 15%);
}
.button--red {
   background-color: #ee3643;
}
.button--green {
   background-color: #63a63e;
}
/*! ratings page start */
.ratings-page__container {
   display: flex;
   gap: 30px;
}
.ratings {
   display: flex;
   flex-direction: column;
   margin-bottom: 50px;
   flex-grow: 1;
}
.ratings-list {
   margin-bottom: 30px;
   display: flex;
   flex-direction: column;
   gap: 1px;
}
.ratings-list-head {
   display: flex;
   height: 35px;
   align-items: center;
   padding: 0px 15px;
   gap: 15px;
   font-weight: 700;
   background-color: #fff;
}
.ratings-list-link {
   display: flex;
   height: 35px;
   align-items: center;
   padding: 0px 15px;
   gap: 15px;
   background-color: #f2f6f8;
}
.ratings-list-link:hover {
   transform: scale(1.01);
   background-color: #fff;
}
.ratings-list-link.inactive:hover {
   transform: none;
   background-color: #f2f6f8;
}
/*! ratings page end */
/*! books 3D view start */
.book-view {
   height: 500px;
   width: 400px;
   display: flex;
   justify-content: center;
   align-items: center;
   transform-style: preserve-3d;
   perspective: 1000px;
}
.book-view__container {
   position: relative;
   width: 250px;
   height: 375px;
   box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
   transform-style: preserve-3d;
   transition: 0.5s;
   cursor: pointer;
}
.book-view__container:hover {
   transform: rotateY(35deg);
   box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
}
.book-view__container:active {
   transform: rotateY(180deg);
}
.book-view__side-img {
   object-fit: cover;
   position: absolute;
   top: 0px;
   left: 0px;
   width: 42px;
   height: 100%;
   transform-origin: left;
   background-position: center;
   transform: rotateY(90deg);
}
.book-view__back-img {
   object-fit: cover;
   position: absolute;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 100%;
   transform-origin: center;
   background-position: center;
   transform: rotateY(180deg) translateZ(42px);
}
.book-view__front-img {
   position: absolute;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.book-view.key {
   order: 1;
}
/*! books 3D view end */
/*! breadcrumbs start */
.breadcrumbs {
   width: 100%;
   display: flex;
   gap: 10px;
   align-items: center;
   font-size: 13px;
   color: #8f8f8f;
   line-height: 1;
}
.breadcrumbs-item {
   display: flex;
   align-items: center;
   gap: 10px;
}
.breadcrumbs-link:hover {
   color: #ee3643;
}
.breadcrumbs-link.current {
   color: var(--primary-color);
   cursor: context-menu;
}
/*! breadcrumbs end */
/*! popular-books section start */
.popular-books__container {
   position: relative;
   left: 6px;
   width: 1272px;
}
.popular-books-title {
   padding-bottom: 24px;
}
.popular-books-carousel {
   position: relative;
}
.popular-books-item {
   margin-top: 6px;
   margin-bottom: 40px;
}
.owl-carousel.popular-books-carousel .owl-nav {
   position: absolute;
   bottom: 0px;
   left: 0px;
   width: calc(100% - 12px);
   display: flex;
   justify-content: space-between;
   height: 0px;
   align-items: flex-end;
}
.owl-carousel.popular-books-carousel .owl-nav button.owl-next,
.owl-carousel.popular-books-carousel .owl-nav button.owl-prev {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--secondary-color);
   height: 30px;
   width: 30px;
   border-radius: 8px;
   color: var(--primary-color);
   transition: 0.3s;
}
.owl-carousel.popular-books-carousel .owl-nav button.owl-next:hover,
.owl-carousel.popular-books-carousel .owl-nav button.owl-prev:hover {
   box-shadow: 0px 6px 12px rgba(0, 0, 0, 15%);
}
.owl-carousel.popular-books-carousel .owl-nav button.owl-next span,
.owl-carousel.popular-books-carousel .owl-nav button.owl-prev span {
   display: flex;
   height: 100%;
   width: 100%;
   justify-content: center;
   align-items: center;
   font-size: 30px;
   position: relative;
   top: -3px;
}
.owl-carousel.popular-books-carousel .owl-dots {
   position: absolute;
   bottom: 0px;
   left: 0px;
   width: calc(100% - 12px);
   display: flex;
   justify-content: center;
   height: 0px;
   align-items: center;
   gap: 10px;
}
.owl-carousel.popular-books-carousel .owl-dot {
   display: block;
   background-color: var(--secondary-color);
   height: 10px;
   width: 10px;
   border-radius: 50%;
   position: relative;
   bottom: 15px;
}
.owl-carousel.popular-books-carousel .owl-dot.active {
   background-color: var(--primary-color);
}
.books-info {
   display: flex;
   align-items: end;
   gap: 15px;
   margin-top: 30px;
   justify-content: end;
   margin-bottom: 50px;
   color: #8f8f8f;
   text-align: end;
}
.books-info-link {
   border: none;
   background-color: var(--primary-color);
   font-weight: 600;
   display: flex;
   height: 50px;
   align-items: center;
   padding: 0px 16px;
   border-radius: 15px;
   color: #fff;
   text-transform: uppercase;
   cursor: pointer;
   font-size: 16px;
   width: 200px;
   justify-content: center;
   transition: 0.3s;
}
.books-info-link:hover {
   box-shadow: 0px 6px 12px rgba(0, 0, 0, 15%);
}
/*! popular-books section end */
/*! sidebar aside start */
.ratings-sidebar {
   display: flex;
   padding-top: 107px;
}
.ratings-navigation {
   display: flex;
   flex-direction: column;
   gap: 10px;
}
.ratings-navigation-item {
   display: flex;
}
.ratings-navigation-link {
   display: flex;
   align-items: center;
   height: 35px;
   padding-left: 15px;
   min-width: max-content;
   width: 100%;
   padding-right: 15px;
   position: relative;
}
.ratings-navigation-link::before {
   content: "";
   position: absolute;
   top: 0px;
   left: 0px;
   height: 100%;
   width: 5px;
   background-color: var(--secondary-color);
   z-index: -1;
   transition: 0.3s;
}
.ratings-navigation-link:hover::before {
   width: 100%;
}
.ratings-navigation-link.current {
   color: #ee3643;
}
.ratings-navigation-link.current::before {
   width: 100%;
}
/*! sidebar aside end */
/*! account start */
.account__title {
   padding-top: 30px;
   padding-bottom: 0px;
}
.account__breadcrumbs {
   margin-top: 17px;
   margin-bottom: 20px;
}
/*! account end */
/*! user pages start */
.users-page,
.users-read-page {
   padding-bottom: 30px;
}
.users__title {
   padding-bottom: 0px;
}
.users__breadcrumbs {
   padding-top: 17px;
   padding-bottom: 20px;
}
/*! user-pages end */
/*! activity section start */
.activity {
   width: calc(50% - 15px);
   padding: 30px;
   background-color: #fff;
   border-radius: 15px;
   display: flex;
   flex-direction: column;
}
.activity-title {
   padding-top: 0px;
   text-align: center;
   padding-bottom: 15px;
}
.activity-description {
   line-height: 1.4;
   flex-grow: 1;
   display: flex;
}
.activity-list {
   margin-top: 10px;
   display: flex;
   flex-direction: column;
   gap: 10px;
   margin-bottom: 10px;
}
.activity-item {
   display: flex;
   width: 55%;
   position: relative;
}
.activity-item-seperator {
   flex-grow: 1;
   border-bottom: 1px dashed;
   margin-left: 5px;
   margin-right: 5px;
}
.activity-item b {
   position: absolute;
   top: 0px;
   right: 0px;
   transform: translateX(100%);
}
.activity-link {
   background-color: #72b54e;
   color: #fff;
   width: max-content;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 35px;
   padding-left: 15px;
   padding-right: 15px;
   border-radius: 8px;
   margin-left: auto;
   margin-top: 15px;
   transition: 0.3s;
}
.activity-link:hover {
   box-shadow: 0px 6px 12px rgba(0, 0, 0, 15%);
}
.activity-link.disabled {
   background-color: #8f8f8f;
   cursor: context-menu;
   box-shadow: none;
}
/*! activity section end */
/*! about activities section start */
.about-activities {
   padding-bottom: 30px;
   background-color: #f2f6f8;
}
.about-activities__text {
   line-height: 1.4;
}
/*! about activities section end */
/*! form styles start */
.form {
   display: flex;
   flex-wrap: wrap;
   background: #f2f6f8;
   padding-top: 30px;
   padding-right: 30px;
   padding-bottom: 30px;
   padding-left: 30px;
   max-width: 840px;
   gap: 15px;
   box-shadow: 0px 6px 12px rgb(0 0 0 / 10%);
}
.form--error {
   border: 1px solid red;
}
.form-label {
   position: relative;
   flex-grow: 1;
   display: flex;
   align-items: end;
   flex-wrap: wrap;
   gap: 5px;
   max-width: max-content;
}
.form-label--flow {
   max-width: 100%;
}
.form-input,
.form-textarea,
.form-select {
   border: none;
   background-color: transparent;
   border-bottom: 1px solid;
   display: flex;
   justify-content: center;
   font-weight: 600;
   padding-left: 5px;
}
.form-input:focus,
.form-textarea:focus,
.form-select:focus {
   outline: none;
}
.form-input--file {
   border-bottom: none;
}
.form-input--flow {
   flex-grow: 1;
}
.form-input--quantity {
   max-width: 80px;
}
.form-input--datetime {
   max-width: 120px;
}
.form-textarea {
   height: 25px;
   min-height: 25px;
}
.form-btn-wrapper {
   display: flex;
   width: 100%;
   justify-content: end;
   gap: 10px;
   margin-top: 15px;
}
.form-errors {
   list-style: initial;
   width: max-content;
   margin-left: auto;
   margin-right: auto;
   display: flex;
   flex-direction: column;
   text-align: initial;
   gap: 5px;
}
.form-password-btn {
   display: flex;
   position: absolute;
   right: 0px;
   bottom: 0px;
   justify-content: center;
   align-items: center;
   height: 30px;
   width: 30px;
   border: none;
   background-color: transparent;
   padding: 4px;
   cursor: pointer;
   color: #7d7d7d;
}
.form-password-btn.visible .invisible {
   display: block;
}
.form-password-btn.visible .visible {
   display: none;
}
.form-password-btn .invisible {
   display: none;
}
.form-password-btn .visible {
   display: block;
}
/*! form styles end */
/*! user-read section start */
.user-read {
   background-color: #fff;
   padding-top: 30px;
   padding-bottom: 30px;
}
.user-read__container {
   display: flex;
}
.user-avatar {
   display: flex;
   min-width: 260px;
   height: 300px;
   margin: 30px 60px;
   border-radius: 15px;
   object-fit: cover;
}
.user-info {
   display: flex;
   flex-direction: column;
   gap: 10px;
   line-height: 1.4;
   margin: 30px 60px;
}
.user-description {
   margin-bottom: 10px;
}
.user-info-item {
   width: 45%;
   position: relative;
   display: flex;
}
.user-info-item span {
   flex-grow: 1;
   margin-left: 5px;
   margin-right: 5px;
   border-bottom: 1px dashed;
}
.user-info-item b {
   position: absolute;
   top: 0px;
   right: 0px;
   transform: translateX(100%);
}
/*! user-read section end */
.width-5 {
   width: 5%;
}
.width-10 {
   width: 10%;
}
.width-15 {
   width: 15%;
}
.width-20 {
   width: 20%;
}
.width-25 {
   width: 25%;
}
.width-30 {
   width: 30%;
}
.width-35 {
   width: 35%;
}
.width-40 {
   width: 40%;
}
.width-45 {
   width: 45%;
}
.width-50 {
   width: 50%;
}
.width-55 {
   width: 55%;
}
.width-60 {
   width: 60%;
}
.width-65 {
   width: 65%;
}
.width-70 {
   width: 70%;
}
.width-75 {
   width: 75%;
}
.width-80 {
   width: 80%;
}
.width-85 {
   width: 85%;
}
.width-90 {
   width: 90%;
}
.width-95 {
   width: 95%;
}
.width-100 {
   width: 100%;
}
.txt-center {
   text-align: center;
}
.txt-end {
   text-align: end;
}
